@model AlaskaAircraft.Models.Aircraft

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Aircraft</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tail_Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tail_Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LRU_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LRU_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LRU_Part_Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LRU_Part_Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Software_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Software_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Software_Part_Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Software_Part_Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EC_Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EC_Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pre_Post_Condition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pre_Post_Condition)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
