@model IEnumerable<AlaskaAircraft.Models.Aircraft>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tail_Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LRU_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LRU_Part_Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Software_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Software_Part_Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EC_Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pre_Post_Condition)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tail_Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LRU_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LRU_Part_Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Software_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Software_Part_Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EC_Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pre_Post_Condition)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
